OPENAI_API_KEY=
OPENAI_API_HOSTNAME=https://webui.robotweb.dev
GOTENBERG_HOSTNAME=https://gotenberg.robotweb.dev

# Optional
# OPENAI_MODEL=openrouter/free

# Used by docker-compose.ghcr.yml
# IMAGE_TAG=latest
# API_PORT=8787
# WEB_PORT=3000
